{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_likes_tags %}

{% block head_title %}CloudSpotting{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}List{% endblocktrans %}</h2>

            <ul>
            {% liked object_list by request.user as liked_list %}
            {% for cloudspotting in liked_list %}
            <li>
            <a href="{% url "cloudspotting_detail" cloudspotting.pk %}">{{ cloudspotting }}</a>{% if cloudspotting.liked %} (liked){% endif %}
            </li>
            {% endfor %}
        </div>

        <div class="container">
            <a href="{% url "cloudspotting_create" %}">Add CloudSpotting</a>
        </div>
    </section>
{% endblock body_base %}