{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{ cloudspotting.cloud_type }}{% endblock %}

{% block body_class %}images{% endblock %}



        <div id="image-panel" data-images-url="{% if image_set %}{% url "images" image_set.pk %}{% endif %}" data-upload-url="{{ upload_url }}" data-image-set-id="{{ image_set.pk }}">
{% block body %}
    {% with cloudspotting.image_set as image_set %}
        {% if image_set %}
            {% url "pinax_images:imageset_upload" image_set.pk as upload_url %}
        {% else %}
            {% url "pinax_images:imageset_new_upload" as upload_url %}
        {% endif %}
        <h2 class="text-center">{{ cloudspotting }}</h2>
        </div>
    {% endwith %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
var ImagePanel = require('pinax-images-panel'),
    imagePanelElement = document.getElementById('image-panel');

if (imagePanelElement) {
  var imagesUrl = imagePanelElement.getAttribute('data-images-url'),
      imageSetId = parseInt(imagePanelElement.getAttribute('data-image-set-id')),
      uploadUrl = imagePanelElement.getAttribute('data-upload-url');
  React.render(<ImagePanel imagesUrl={imagesUrl} initialUploadUrl={uploadUrl} initialImageSetId={imageSetId} />, imagePanelElement);
}
</script>
{% endblock scripts %}