{% extends "site_base.html" %}

{% load i18n %}
{% load testimonial_tags %}

{% block head_title %}CloudSpotting{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}List{% endblocktrans %}</h2>

            <ul>
            {% for cloudspotting in object_list %}
            <li>
            <a href="{% url "cloudspotting_detail" cloudspotting.pk %}">{{ cloudspotting }}</a>
            </li>
            {% endfor %}
        </div>

        <div class="container">
            <a href="{% url "cloudspotting_create" %}">Add CloudSpotting</a>
        </div>
    </section>
    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}Testimonials{% endblocktrans %}</h2>
            <div>
                {% random_testimonial as quote %}
                {% if quote %}
                "{{ quote.0.text }}" - {{ quote.0.author }}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock body_base %}
